<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<!-- Define a file appender that rolls the log file daily -->
	<appender name="DAILY_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/application.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- Daily rollover, file name pattern -->
			<fileNamePattern>logs/application-%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- Keep 30 days of log files before they are deleted -->
			<maxHistory>367</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} -
				%msg%n</pattern>
		</encoder>
	</appender>

	<!-- Use the file appender in your root logger -->
	<root level="info">
		<appender-ref ref="DAILY_FILE" />
	</root>
</configuration>